<div class="matrix-input">
    <form [formGroup]="formGroup">
        <div *ngFor="let row of [1,2,3]">
            <mat-form-field *ngFor="let col of [1,2,3]" class="element-form">
                <mat-label>{{row}}-{{col}}</mat-label>
                <input formControlName="e{{row}}{{col}}" matInput type="text" appCell [row]="row" [col]="col">
            </mat-form-field>
        </div>
    </form>
</div>
<button mat-raised-button (click)="sampleClicked(0)">Sample 1</button>
<button mat-raised-button (click)="sampleClicked(1)">Sample 2</button>
<mat-radio-group class="example-radio-group" (change)="shapeChanged($event)">
    <mat-radio-button class="example-radio-button" *ngFor="let shape of shapes" [value]="shape.shape"
        [checked]="shape.checked">
        {{shape.name}}
    </mat-radio-button>
</mat-radio-group>

<div>
    animation <mat-slider [value]="100" (input)="interpolationChanged($event)"></mat-slider>
</div>